body{
    background-color: rgb(207, 241, 229);
    font-family: "Poppins", sans-serif;
}

.heading{
    font-size: 64px;
text-align: center;
color: green
}

.heading span{
    color: rgba(35, 11, 11, 0.773);
}